[Unit]
Description=Runs piscan service

[Service]
type=oneshot
ExecStart=~/piscan/scripts/runner.sh

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
