[Unit]
Description=Runs tcpdump
After=tcpdumpsetup.service tcpdumpchanhop.service

[Service]
TimeoutStartSec=infinity

ExecStart=/usr/bin/PiScan/runtcpdump.sh

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
