[Unit]
Description=Runs tcpdump
After=tcpdumpsetup.service tcpdumpchanhop.service

[Service]
type=oneshot
ExecStart=~/piscan/scripts/tcpdump_run.sh

Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
